@media (max-width: 1024px) {
  .flexRow--footer-content-text {
    background-image: url("/arquivos/footer-background.svg");
    background-size: contain;
    background-position: center;
  }

  .flexRowContent--footer-social-networks,
  .flexRowContent--footer-payment-methods,
  .flexRowContent--drawer-row2,
  .flexRowContent--drawer-phones {
    display: flex;
  }

  .flexRowContent--footer-social-networks .stretchChildrenWidth {
    justify-content: flex-start;
    width: 10% !important;
  }

  .flexRow--footer-social-networks {
    width: 100%;
    margin-left: 20px;
  }

  .flexRow--footer-payment-methods {
    justify-content: center;
    display: flex;
    margin: 40px 7px 0;
  }

  .flexRowContent--drawer-row2 .stretchChildrenWidth:first-child {
    border-right: 1px solid #637390;
  }

  .flexCol--drawer-icon,
  .flexCol--col-phone {
    flex-direction: row;
    justify-content: center;
  }

  .flexColChild--drawer-icon,
  .flexColChild--col-phone {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  .flexColChild--col-phone {
    margin-right: 5px;
  }

  .flexRow--drawer-row2 {
    background: #ebf2fa;
  }

  .flexRow--drawer-phones,
  :global(.vtex-store-drawer-0-x-closeIconContainer) {
    background: #2d93ac;
  }

  .flexRow--drawer-phones {
    position: absolute;
    bottom: 0;
  }

  :global(.vtex-store-drawer-0-x-closeIconButton) {
    color: #fff;
  }
}
