@media (max-width: 1024px) {
  .flexRow--footer-content-text {
    background-image: url("/arquivos/footer-background.svg");
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
  }

  .flexRowContent--footer-social-networks {
    display: flex;
  }

  .flexRowContent--footer-social-networks .stretchChildrenWidth {
    justify-content: flex-start;
    width: 10% !important;
  }

  .flexRow--footer-social-networks {
    width: 100%;
    margin-left: 20px;
  }

  .flexRow--footer-payment-methods {
    justify-content: center;
    display: flex;
    margin: 40px 7px 0;
  }

  .flexRowContent--footer-payment-methods {
    display: flex;
  }
}
